doctype 5
html.no-js

  head 
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
  
    title BYU Global Assets
    meta name="description" content="images, css, javascript, and especially logos for use on BYU websites"
  
    meta name="viewport" content="width=device-width" 
  
    link rel="stylesheet" href="css/bootstrap.css"
    link rel="stylesheet" href="css/bootstrap.responsive.css"
    link rel="stylesheet" href="css/global.css"
    
    script type="text/javascript" src="js/modernizr.svg.js"
    script type="text/javascript" src="js/highlight.pack.js"
    javascript:
      hljs.initHighlightingOnLoad();
  
  body 
    header.jumbotron.bg
      div.container
        h1 BYU Global Assets
  
    
    div.container
      p.lead Included here are backgrounds and logos for BYU web sites. Link directly from here or download them for use on your server.
      
      h2.section Logos
      hr/
      
      h3 Best practices
          
      p The logos work best as text-replacement background images. This allows search engines and screen readers to access the content, and allows you to control the display via CSS. In this way, the BYU logo can change based on context if needed, enabling better responsive web designs. If you need it, here's an example of the image replacement technique.
      
      div.row-fluid
        div.span6
          span.label.label-info html
          pre 
            code.html
              | &lt;h1 class="logo ir"&gt;
                  BYU: Brigham Young University
                &lt;/h1&gt;
              
        div.span6
          span.label.label-warning css
          pre 
            code.css
              | .ir { /* hide the text */
                  text-indent: -9999em;
                  text-align: left;
                  overflow: hidden;
                  background-position: center;
                  background-repeat: no-repeat;
                }
      
                h1.logo { /* show the logo */
                  background-image: url("../img/byu-logo.svg");
                }
      
      
      
      h3 Stacked logo
      
      div.row-fluid    
        div.well.span6
          h4 
            | svg : 
            code img/byu-logo-lg.svg
          div.logo-lg.ir BYU - Brigham Young University
        
        div.well.span6
          h4 
            | png : 
            code img/byu-logo-lg.png
          div.logo-lg.png.ir BYU - Brigham Young University
  
  
  
      h3 Single-line logo
      
      div.row-fluid    
        div.well.span6
          h4 
            | svg : 
            code img/byu-logo.svg
          div.logo.ir BYU - Brigham Young University
        
        div.well.span6
          h4 
            | png : 
            code img/byu-logo.png
          div.logo.png.ir BYU - Brigham Young University
  
  
  
      h3 Monogram only
      
      div.row-fluid    
        div.well.span6
          h4 
            | svg : 
            code img/byu-logo-sm.svg
          div.logo-sm.ir BYU - Brigham Young University
        
        div.well.span6
          h4 
            | png : 
            code img/byu-logo-sm.png
          div.logo-sm.png.ir BYU - Brigham Young University
      
      
      
      h2.section Backgrounds
      hr/
      
      h3 Header
      
      div.well
        h4 
          | svg : 
          code img/byu-header-bg.svg
        div.bg-svg.test-svg
      
      div.well
        h4 
          | png : 
          code img/byu-header-bg.png
        div.bg-png
  
